In [1]:
!gdown 173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ

Downloading...
From: https://drive.google.com/uc?id=173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ
To: C:\Users\ravit\Scaler\Data Analytics and Visualizations(DAV-1)\Pfizer_1.csv

  0%|          | 0.00/1.51k [00:00<?, ?B/s]
100%|##########| 1.51k/1.51k [00:00<?, ?B/s]

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_csv(r'C:\Users\ravit\Scaler\Data Analytics and Visualizations(DAV-1)\Pfizer_1.csv')

In [5]:
df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [6]:
df.info

<bound method DataFrame.info of           Date                Drug_Name    Parameter  1:30:00  2:30:00  \
0   15-10-2020  diltiazem hydrochloride  Temperature     23.0     22.0
1   15-10-2020  diltiazem hydrochloride     Pressure     12.0     13.0
2   15-10-2020      docetaxel injection  Temperature      NaN     17.0
3   15-10-2020      docetaxel injection     Pressure      NaN     22.0
4   15-10-2020   ketamine hydrochloride  Temperature     24.0      NaN
5   15-10-2020   ketamine hydrochloride     Pressure      8.0      NaN
6   16-10-2020  diltiazem hydrochloride  Temperature     34.0     35.0
7   16-10-2020  diltiazem hydrochloride     Pressure     18.0     19.0
8   16-10-2020      docetaxel injection  Temperature     46.0     47.0
9   16-10-2020      docetaxel injection     Pressure     23.0     24.0
10  16-10-2020   ketamine hydrochloride  Temperature      8.0      9.0
11  16-10-2020   ketamine hydrochloride     Pressure     12.0     12.0
12  17-10-2020  diltiazem hydrochloride  Temperature     20.0     19.0
13  17-10-2020  diltiazem hydrochloride     Pressure      3.0      4.0
14  17-10-2020      docetaxel injection  Temperature     12.0     13.0
15  17-10-2020      docetaxel injection     Pressure     20.0     22.0
16  17-10-2020   ketamine hydrochloride  Temperature     13.0     14.0
17  17-10-2020   ketamine hydrochloride     Pressure      8.0      9.0

    3:30:00  4:30:00  5:30:00  6:30:00  7:30:00  8:30:00  9:30:00  10:30:00  \
0       NaN     21.0     21.0       22     23.0     21.0     22.0        20
1       NaN     11.0     13.0       14     16.0     16.0     24.0        18
2      18.0      NaN     17.0       18      NaN      NaN     23.0        23
3      22.0      NaN     22.0       23      NaN      NaN     27.0        26
4       NaN     27.0      NaN       26     25.0     24.0     23.0        22
5       NaN      7.0      NaN        9     10.0     11.0     10.0         9
6      36.0     36.0     37.0       38     37.0     38.0     39.0        40
7      20.0     21.0     22.0       23     24.0     25.0     25.0        24
8       NaN     48.0     48.0       49     50.0     52.0     55.0        56
9       NaN     25.0     26.0       27     28.0     29.0     28.0        28
10     10.0      NaN     11.0       12     12.0     11.0      NaN        13
11     13.0      NaN     15.0       15     15.0     15.0      NaN        16
12     19.0     18.0     17.0       16     15.0      NaN     13.0        14
13      4.0      4.0      6.0        8      9.0      NaN      9.0        11
14     14.0     15.0     16.0       17     18.0     19.0     20.0        21
15     22.0     22.0     22.0       23     25.0     26.0     27.0        28
16     15.0     16.0     17.0       18     19.0     20.0     21.0        22
17     10.0     11.0     11.0       12     12.0     11.0     12.0        13

    11:30:00  12:30:00
0       20.0        21
1       19.0        20
2       25.0        25
3       29.0        28
4       21.0        20
5        9.0        11
6        NaN        42
7        NaN        27
8       57.0        58
9       29.0        30
10      14.0        15
11      17.0        18
12      11.0        10
13      13.0        14
14      22.0        23
15      29.0        28
16      23.0        24
17      14.0        15  >

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       18 non-null     object
 1   Drug_Name  18 non-null     object
 2   Parameter  18 non-null     object
 3   1:30:00    16 non-null     float64
 4   2:30:00    16 non-null     float64
 5   3:30:00    12 non-null     float64
 6   4:30:00    14 non-null     float64
 7   5:30:00    16 non-null     float64
 8   6:30:00    18 non-null     int64
 9   7:30:00    16 non-null     float64
 10  8:30:00    14 non-null     float64
 11  9:30:00    16 non-null     float64
 12  10:30:00   18 non-null     int64
 13  11:30:00   16 non-null     float64
 14  12:30:00   18 non-null     int64
dtypes: float64(9), int64(3), object(3)
memory usage: 2.2+ KB

In [8]:
df.describe

<bound method NDFrame.describe of           Date                Drug_Name    Parameter  1:30:00  2:30:00  \
0   15-10-2020  diltiazem hydrochloride  Temperature     23.0     22.0
1   15-10-2020  diltiazem hydrochloride     Pressure     12.0     13.0
2   15-10-2020      docetaxel injection  Temperature      NaN     17.0
3   15-10-2020      docetaxel injection     Pressure      NaN     22.0
4   15-10-2020   ketamine hydrochloride  Temperature     24.0      NaN
5   15-10-2020   ketamine hydrochloride     Pressure      8.0      NaN
6   16-10-2020  diltiazem hydrochloride  Temperature     34.0     35.0
7   16-10-2020  diltiazem hydrochloride     Pressure     18.0     19.0
8   16-10-2020      docetaxel injection  Temperature     46.0     47.0
9   16-10-2020      docetaxel injection     Pressure     23.0     24.0
10  16-10-2020   ketamine hydrochloride  Temperature      8.0      9.0
11  16-10-2020   ketamine hydrochloride     Pressure     12.0     12.0
12  17-10-2020  diltiazem hydrochloride  Temperature     20.0     19.0
13  17-10-2020  diltiazem hydrochloride     Pressure      3.0      4.0
14  17-10-2020      docetaxel injection  Temperature     12.0     13.0
15  17-10-2020      docetaxel injection     Pressure     20.0     22.0
16  17-10-2020   ketamine hydrochloride  Temperature     13.0     14.0
17  17-10-2020   ketamine hydrochloride     Pressure      8.0      9.0

    3:30:00  4:30:00  5:30:00  6:30:00  7:30:00  8:30:00  9:30:00  10:30:00  \
0       NaN     21.0     21.0       22     23.0     21.0     22.0        20
1       NaN     11.0     13.0       14     16.0     16.0     24.0        18
2      18.0      NaN     17.0       18      NaN      NaN     23.0        23
3      22.0      NaN     22.0       23      NaN      NaN     27.0        26
4       NaN     27.0      NaN       26     25.0     24.0     23.0        22
5       NaN      7.0      NaN        9     10.0     11.0     10.0         9
6      36.0     36.0     37.0       38     37.0     38.0     39.0        40
7      20.0     21.0     22.0       23     24.0     25.0     25.0        24
8       NaN     48.0     48.0       49     50.0     52.0     55.0        56
9       NaN     25.0     26.0       27     28.0     29.0     28.0        28
10     10.0      NaN     11.0       12     12.0     11.0      NaN        13
11     13.0      NaN     15.0       15     15.0     15.0      NaN        16
12     19.0     18.0     17.0       16     15.0      NaN     13.0        14
13      4.0      4.0      6.0        8      9.0      NaN      9.0        11
14     14.0     15.0     16.0       17     18.0     19.0     20.0        21
15     22.0     22.0     22.0       23     25.0     26.0     27.0        28
16     15.0     16.0     17.0       18     19.0     20.0     21.0        22
17     10.0     11.0     11.0       12     12.0     11.0     12.0        13

    11:30:00  12:30:00
0       20.0        21
1       19.0        20
2       25.0        25
3       29.0        28
4       21.0        20
5        9.0        11
6        NaN        42
7        NaN        27
8       57.0        58
9       29.0        30
10      14.0        15
11      17.0        18
12      11.0        10
13      13.0        14
14      22.0        23
15      29.0        28
16      23.0        24
17      14.0        15  >

In [9]:
df.head(5)

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20

Melting

In [13]:
# In Melting is nothing but restructuring our data. And column headers will become row values. 
#NaN values will as it is

In [14]:
pd.melt(df, id_vars = ['Date','Drug_Name','Parameter'])

           Date                Drug_Name    Parameter  variable  value
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00   23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00   12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00    NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00    NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00   24.0
..          ...                      ...          ...       ...    ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00   14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00   23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00   28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00   24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00   15.0

[216 rows x 5 columns]

In [20]:
pd.melt(df, id_vars = ['Date','Drug_Name','Parameter']).head(60)

          Date                Drug_Name    Parameter variable  value
0   15-10-2020  diltiazem hydrochloride  Temperature  1:30:00   23.0
1   15-10-2020  diltiazem hydrochloride     Pressure  1:30:00   12.0
2   15-10-2020      docetaxel injection  Temperature  1:30:00    NaN
3   15-10-2020      docetaxel injection     Pressure  1:30:00    NaN
4   15-10-2020   ketamine hydrochloride  Temperature  1:30:00   24.0
5   15-10-2020   ketamine hydrochloride     Pressure  1:30:00    8.0
6   16-10-2020  diltiazem hydrochloride  Temperature  1:30:00   34.0
7   16-10-2020  diltiazem hydrochloride     Pressure  1:30:00   18.0
8   16-10-2020      docetaxel injection  Temperature  1:30:00   46.0
9   16-10-2020      docetaxel injection     Pressure  1:30:00   23.0
10  16-10-2020   ketamine hydrochloride  Temperature  1:30:00    8.0
11  16-10-2020   ketamine hydrochloride     Pressure  1:30:00   12.0
12  17-10-2020  diltiazem hydrochloride  Temperature  1:30:00   20.0
13  17-10-2020  diltiazem hydrochloride     Pressure  1:30:00    3.0
14  17-10-2020      docetaxel injection  Temperature  1:30:00   12.0
15  17-10-2020      docetaxel injection     Pressure  1:30:00   20.0
16  17-10-2020   ketamine hydrochloride  Temperature  1:30:00   13.0
17  17-10-2020   ketamine hydrochloride     Pressure  1:30:00    8.0
18  15-10-2020  diltiazem hydrochloride  Temperature  2:30:00   22.0
19  15-10-2020  diltiazem hydrochloride     Pressure  2:30:00   13.0
20  15-10-2020      docetaxel injection  Temperature  2:30:00   17.0
21  15-10-2020      docetaxel injection     Pressure  2:30:00   22.0
22  15-10-2020   ketamine hydrochloride  Temperature  2:30:00    NaN
23  15-10-2020   ketamine hydrochloride     Pressure  2:30:00    NaN
24  16-10-2020  diltiazem hydrochloride  Temperature  2:30:00   35.0
25  16-10-2020  diltiazem hydrochloride     Pressure  2:30:00   19.0
26  16-10-2020      docetaxel injection  Temperature  2:30:00   47.0
27  16-10-2020      docetaxel injection     Pressure  2:30:00   24.0
28  16-10-2020   ketamine hydrochloride  Temperature  2:30:00    9.0
29  16-10-2020   ketamine hydrochloride     Pressure  2:30:00   12.0
30  17-10-2020  diltiazem hydrochloride  Temperature  2:30:00   19.0
31  17-10-2020  diltiazem hydrochloride     Pressure  2:30:00    4.0
32  17-10-2020      docetaxel injection  Temperature  2:30:00   13.0
33  17-10-2020      docetaxel injection     Pressure  2:30:00   22.0
34  17-10-2020   ketamine hydrochloride  Temperature  2:30:00   14.0
35  17-10-2020   ketamine hydrochloride     Pressure  2:30:00    9.0
36  15-10-2020  diltiazem hydrochloride  Temperature  3:30:00    NaN
37  15-10-2020  diltiazem hydrochloride     Pressure  3:30:00    NaN
38  15-10-2020      docetaxel injection  Temperature  3:30:00   18.0
39  15-10-2020      docetaxel injection     Pressure  3:30:00   22.0
40  15-10-2020   ketamine hydrochloride  Temperature  3:30:00    NaN
41  15-10-2020   ketamine hydrochloride     Pressure  3:30:00    NaN
42  16-10-2020  diltiazem hydrochloride  Temperature  3:30:00   36.0
43  16-10-2020  diltiazem hydrochloride     Pressure  3:30:00   20.0
44  16-10-2020      docetaxel injection  Temperature  3:30:00    NaN
45  16-10-2020      docetaxel injection     Pressure  3:30:00    NaN
46  16-10-2020   ketamine hydrochloride  Temperature  3:30:00   10.0
47  16-10-2020   ketamine hydrochloride     Pressure  3:30:00   13.0
48  17-10-2020  diltiazem hydrochloride  Temperature  3:30:00   19.0
49  17-10-2020  diltiazem hydrochloride     Pressure  3:30:00    4.0
50  17-10-2020      docetaxel injection  Temperature  3:30:00   14.0
51  17-10-2020      docetaxel injection     Pressure  3:30:00   22.0
52  17-10-2020   ketamine hydrochloride  Temperature  3:30:00   15.0
53  17-10-2020   ketamine hydrochloride     Pressure  3:30:00   10.0
54  15-10-2020  diltiazem hydrochloride  Temperature  4:30:00   21.0
55  15-10-2020  diltiazem hydrochloride     Pressure  4:30:00   11.0
56  15-10-2020      docetaxel injection  Temperature  4:30:00    NaN
57  15-10-2020      docetaxel injection     Pressure  4:30:00    NaN
58  15-10-2020   ketamine hydrochloride  Temperature  4:30:00   27.0
59  15-10-2020   ketamine hydrochloride     Pressure  4:30:00    7.0

In [24]:
pd_melt = pd.melt(df, id_vars = ['Date','Drug_Name','Parameter'], var_name= 'Time', value_name = 'Result')

In [25]:
pd_melt

           Date                Drug_Name    Parameter      Time  Result
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00    23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00    12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00     NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00     NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00    24.0
..          ...                      ...          ...       ...     ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00    14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00    23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00    28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00    24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00    15.0

[216 rows x 5 columns]

In [28]:
pd_pivot= pd.pivot(pd_melt, index=['Date','Drug_Name','Parameter'],columns= 'Time', values = 'Result' )

In [29]:
pd_pivot

Time                                            10:30:00  11:30:00  12:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure         18.0      19.0      20.0
                                   Temperature      20.0      20.0      21.0
           docetaxel injection     Pressure         26.0      29.0      28.0
                                   Temperature      23.0      25.0      25.0
           ketamine hydrochloride  Pressure          9.0       9.0      11.0
                                   Temperature      22.0      21.0      20.0
16-10-2020 diltiazem hydrochloride Pressure         24.0       NaN      27.0
                                   Temperature      40.0       NaN      42.0
           docetaxel injection     Pressure         28.0      29.0      30.0
                                   Temperature      56.0      57.0      58.0
           ketamine hydrochloride  Pressure         16.0      17.0      18.0
                                   Temperature      13.0      14.0      15.0
17-10-2020 diltiazem hydrochloride Pressure         11.0      13.0      14.0
                                   Temperature      14.0      11.0      10.0
           docetaxel injection     Pressure         28.0      29.0      28.0
                                   Temperature      21.0      22.0      23.0
           ketamine hydrochloride  Pressure         13.0      14.0      15.0
                                   Temperature      22.0      23.0      24.0

Time                                            1:30:00  2:30:00  3:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        12.0     13.0      NaN
                                   Temperature     23.0     22.0      NaN
           docetaxel injection     Pressure         NaN     22.0     22.0
                                   Temperature      NaN     17.0     18.0
           ketamine hydrochloride  Pressure         8.0      NaN      NaN
                                   Temperature     24.0      NaN      NaN
16-10-2020 diltiazem hydrochloride Pressure        18.0     19.0     20.0
                                   Temperature     34.0     35.0     36.0
           docetaxel injection     Pressure        23.0     24.0      NaN
                                   Temperature     46.0     47.0      NaN
           ketamine hydrochloride  Pressure        12.0     12.0     13.0
                                   Temperature      8.0      9.0     10.0
17-10-2020 diltiazem hydrochloride Pressure         3.0      4.0      4.0
                                   Temperature     20.0     19.0     19.0
           docetaxel injection     Pressure        20.0     22.0     22.0
                                   Temperature     12.0     13.0     14.0
           ketamine hydrochloride  Pressure         8.0      9.0     10.0
                                   Temperature     13.0     14.0     15.0

Time                                            4:30:00  5:30:00  6:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        11.0     13.0     14.0
                                   Temperature     21.0     21.0     22.0
           docetaxel injection     Pressure         NaN     22.0     23.0
                                   Temperature      NaN     17.0     18.0
           ketamine hydrochloride  Pressure         7.0      NaN      9.0
                                   Temperature     27.0      NaN     26.0
16-10-2020 diltiazem hydrochloride Pressure        21.0     22.0     23.0
                                   Temperature     36.0     37.0     38.0
           docetaxel injection     Pressure        25.0     26.0     27.0
                                   Temperature     48.0     48.0     49.0
           ketamine hydrochloride  Pressure         NaN     15.0     15.0
                                   Temperature      NaN     11.0     12.0
17-10-2020 diltiazem hydrochloride Pressure         4.0      6.0      8.0
                                   Temperature     18.0     17.0     16.0
           docetaxel injection     Pressure        22.0     22.0     23.0
                                   Temperature     15.0     16.0     17.0
           ketamine hydrochloride  Pressure        11.0     11.0     12.0
                                   Temperature     16.0     17.0     18.0

Time                                            7:30:00  8:30:00  9:30:00
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        16.0     16.0     24.0
                                   Temperature     23.0     21.0     22.0
           docetaxel injection     Pressure         NaN      NaN     27.0
                                   Temperature      NaN      NaN     23.0
           ketamine hydrochloride  Pressure        10.0     11.0     10.0
                                   Temperature     25.0     24.0     23.0
16-10-2020 diltiazem hydrochloride Pressure        24.0     25.0     25.0
                                   Temperature     37.0     38.0     39.0
           docetaxel injection     Pressure        28.0     29.0     28.0
                                   Temperature     50.0     52.0     55.0
           ketamine hydrochloride  Pressure        15.0     15.0      NaN
                                   Temperature     12.0     11.0      NaN
17-10-2020 diltiazem hydrochloride Pressure         9.0      NaN      9.0
                                   Temperature     15.0      NaN     13.0
           docetaxel injection     Pressure        25.0     26.0     27.0
                                   Temperature     18.0     19.0     20.0
           ketamine hydrochloride  Pressure        12.0     11.0     12.0
                                   Temperature     19.0     20.0     21.0

In [30]:
pd_pivot.reset_index() # See the diff between pivoted and pivoted after reset index

Time,Date,Drug_Name,Parameter,10:30:00,11:30:00,12:30:00,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00
0,15-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,12.0,13.0,NaN,11.0,13.0,14.0,16.0,16.0,24.0
1,15-10-2020,diltiazem hydrochloride,Temperature,20.0,20.0,21.0,23.0,22.0,NaN,21.0,21.0,22.0,23.0,21.0,22.0
2,15-10-2020,docetaxel injection,Pressure,26.0,29.0,28.0,NaN,22.0,22.0,NaN,22.0,23.0,NaN,NaN,27.0
3,15-10-2020,docetaxel injection,Temperature,23.0,25.0,25.0,NaN,17.0,18.0,NaN,17.0,18.0,NaN,NaN,23.0
4,15-10-2020,ketamine hydrochloride,Pressure,9.0,9.0,11.0,8.0,NaN,NaN,7.0,NaN,9.0,10.0,11.0,10.0
5,15-10-2020,ketamine hydrochloride,Temperature,22.0,21.0,20.0,24.0,NaN,NaN,27.0,NaN,26.0,25.0,24.0,23.0
6,16-10-2020,diltiazem hydrochloride,Pressure,24.0,NaN,27.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,25.0
7,16-10-2020,diltiazem hydrochloride,Temperature,40.0,NaN,42.0,34.0,35.0,36.0,36.0,37.0,38.0,37.0,38.0,39.0
8,16-10-2020,docetaxel injection,Pressure,28.0,29.0,30.0,23.0,24.0,NaN,25.0,26.0,27.0,28.0,29.0,28.0
9,16-10-2020,docetaxel injection,Temperature,56.0,57.0,58.0,46.0,47.0,NaN,48.0,48.0,49.0,50.0,52.0,55.0
10,16-10-2020,ketamine hydrochloride,Pressure,16.0,17.0,18.0,12.0,12.0,13.0,NaN,15.0,15.0,15.0,15.0,NaN
11,16-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,8.0,9.0,10.0,NaN,11.0,12.0,12.0,11.0,NaN
12,17-10-2020,diltiazem hydrochloride,Pressure,11.0,13.0,14.0,3.0,4.0,4.0,4.0,6.0,8.0,9.0,NaN,9.0
13,17-10-2020,diltiazem hydrochloride,Temperature,14.0,11.0,10.0,20.0,19.0,19.0,18.0,17.0,16.0,15.0,NaN,13.0
14,17-10-2020,docetaxel injection,Pressure,28.0,29.0,28.0,20.0,22.0,22.0,22.0,22.0,23.0,25.0,26.0,27.0
15,17-10-2020,docetaxel injection,Temperature,21.0,22.0,23.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
16,17-10-2020,ketamine hydrochloride,Pressure,13.0,14.0,15.0,8.0,9.0,10.0,11.0,11.0,12.0,12.0,11.0,12.0
17,17-10-2020,ketamine hydrochloride,Temperature,22.0,23.0,24.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0

In [31]:
pd.pivot(pd_melt, index=['Date','Drug_Name','Time'],columns= 'Parameter', values = 'Result' )

Parameter                                    Pressure  Temperature
Date       Drug_Name               Time
15-10-2020 diltiazem hydrochloride 10:30:00      18.0         20.0
                                   11:30:00      19.0         20.0
                                   12:30:00      20.0         21.0
                                   1:30:00       12.0         23.0
                                   2:30:00       13.0         22.0
...                                               ...          ...
17-10-2020 ketamine hydrochloride  5:30:00       11.0         17.0
                                   6:30:00       12.0         18.0
                                   7:30:00       12.0         19.0
                                   8:30:00       11.0         20.0
                                   9:30:00       12.0         21.0

[108 rows x 2 columns]

In [108]:
df_tidy=pd.pivot(pd_melt,
         index=["Date","Drug_Name","Time"],
         columns="Parameter",
         values="Result").reset_index()
df_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0
...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0

In [36]:
df_tidy.columns

Index(['Date', 'Drug_Name', 'Time', 'Pressure', 'Temperature'], dtype='object', name='Parameter')

In [37]:
df_tidy.columns.name

'Parameter'

In [39]:
df_tidy.columns.name= None

In [40]:
df_tidy

           Date                Drug_Name      Time  Pressure  Temperature
0    15-10-2020  diltiazem hydrochloride  10:30:00      18.0         20.0
1    15-10-2020  diltiazem hydrochloride  11:30:00      19.0         20.0
2    15-10-2020  diltiazem hydrochloride  12:30:00      20.0         21.0
3    15-10-2020  diltiazem hydrochloride   1:30:00      12.0         23.0
4    15-10-2020  diltiazem hydrochloride   2:30:00      13.0         22.0
..          ...                      ...       ...       ...          ...
103  17-10-2020   ketamine hydrochloride   5:30:00      11.0         17.0
104  17-10-2020   ketamine hydrochloride   6:30:00      12.0         18.0
105  17-10-2020   ketamine hydrochloride   7:30:00      12.0         19.0
106  17-10-2020   ketamine hydrochloride   8:30:00      11.0         20.0
107  17-10-2020   ketamine hydrochloride   9:30:00      12.0         21.0

[108 rows x 5 columns]

# Pivot Table

In [46]:
pd.pivot_table(df_tidy, index = 'Drug_Name', columns = 'Date', 
               values =['Pressure','Temperature'], aggfunc = 'mean')

                          Pressure                       Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020  15-10-2020
Drug_Name
diltiazem hydrochloride  16.000000  22.545455   7.727273   21.454545
docetaxel injection      24.875000  27.000000  24.500000   20.750000
ketamine hydrochloride    9.333333  14.800000  11.500000   23.555556


Date                    16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride  37.454545  15.636364
docetaxel injection      51.454545  17.500000
ketamine hydrochloride   11.500000  18.500000

In [49]:
pd.pivot_table(df_tidy, index = 'Drug_Name', columns = 'Date', 
               values =['Pressure','Temperature'], aggfunc = 'mean', margins = True)
#Understand the use of 'margins'. The same aggregate function is used for row-wise and column-wise at end of each values

                          Pressure                                   \
Date                    15-10-2020 16-10-2020 17-10-2020        All
Drug_Name
diltiazem hydrochloride  16.000000  22.545455   7.727273  15.424242
docetaxel injection      24.875000  27.000000  24.500000  25.483871
ketamine hydrochloride    9.333333  14.800000  11.500000  11.935484
All                      16.392857  21.656250  14.771429  17.568421

                        Temperature
Date                     15-10-2020 16-10-2020 17-10-2020        All
Drug_Name
diltiazem hydrochloride   21.454545  37.454545  15.636364  24.848485
docetaxel injection       20.750000  51.454545  17.500000  30.387097
ketamine hydrochloride    23.555556  11.500000  18.500000  17.709677
All                       21.928571  34.156250  17.257143  24.326316

In [47]:
pd.pivot_table(df_tidy, index = 'Drug_Name', columns = 'Date', 
               values =['Pressure','Temperature'], aggfunc = ['min','max'], margins = True)

                               min                                          \
                          Pressure                             Temperature
Date                    15-10-2020 16-10-2020 17-10-2020   All  15-10-2020
Drug_Name
diltiazem hydrochloride       11.0       18.0        3.0   3.0        20.0
docetaxel injection           22.0       23.0       20.0  20.0        17.0
ketamine hydrochloride         7.0       12.0        8.0   7.0        20.0
All                            7.0       12.0        3.0   3.0        17.0

                                                           max             \
                                                      Pressure
Date                    16-10-2020 17-10-2020   All 15-10-2020 16-10-2020
Drug_Name
diltiazem hydrochloride       34.0       10.0  10.0       24.0       27.0
docetaxel injection           46.0       12.0  12.0       29.0       30.0
ketamine hydrochloride         8.0       13.0   8.0       11.0       18.0
All                            8.0       10.0   8.0       29.0       30.0

                                                                            \
                                         Temperature
Date                    17-10-2020   All  15-10-2020 16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride       14.0  27.0        23.0       42.0       20.0
docetaxel injection           29.0  30.0        25.0       58.0       23.0
ketamine hydrochloride        15.0  18.0        27.0       15.0       24.0
All                           29.0  30.0        27.0       58.0       24.0



Date                      All
Drug_Name
diltiazem hydrochloride  42.0
docetaxel injection      58.0
ketamine hydrochloride   27.0
All                      58.0

In [48]:
pd.pivot_table(df_tidy, index = 'Drug_Name', columns = 'Date', 
               values =['Pressure','Temperature'], aggfunc = ['min','max'], margins = False)

                               min                                    \
                          Pressure                       Temperature
Date                    15-10-2020 16-10-2020 17-10-2020  15-10-2020
Drug_Name
diltiazem hydrochloride       11.0       18.0        3.0        20.0
docetaxel injection           22.0       23.0       20.0        17.0
ketamine hydrochloride         7.0       12.0        8.0        20.0

                                                     max             \
                                                Pressure
Date                    16-10-2020 17-10-2020 15-10-2020 16-10-2020
Drug_Name
diltiazem hydrochloride       34.0       10.0       24.0       27.0
docetaxel injection           46.0       12.0       29.0       30.0
ketamine hydrochloride         8.0       13.0       11.0       18.0


                                   Temperature
Date                    17-10-2020  15-10-2020 16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride       14.0        23.0       42.0       20.0
docetaxel injection           29.0        25.0       58.0       23.0
ketamine hydrochloride        15.0        27.0       15.0       24.0

In [50]:
pd.pivot_table(df_tidy, index = 'Drug_Name', columns = 'Date', 
               values =['Pressure','Temperature'], 
               aggfunc = ['min','max', 'mean'], margins = True)

                               min                                          \
                          Pressure                             Temperature
Date                    15-10-2020 16-10-2020 17-10-2020   All  15-10-2020
Drug_Name
diltiazem hydrochloride       11.0       18.0        3.0   3.0        20.0
docetaxel injection           22.0       23.0       20.0  20.0        17.0
ketamine hydrochloride         7.0       12.0        8.0   7.0        20.0
All                            7.0       12.0        3.0   3.0        17.0

                                                           max             \
                                                      Pressure
Date                    16-10-2020 17-10-2020   All 15-10-2020 16-10-2020
Drug_Name
diltiazem hydrochloride       34.0       10.0  10.0       24.0       27.0
docetaxel injection           46.0       12.0  12.0       29.0       30.0
ketamine hydrochloride         8.0       13.0   8.0       11.0       18.0
All                            8.0       10.0   8.0       29.0       30.0

                         ...                         mean             \
                         ... Temperature         Pressure
Date                     ...  17-10-2020   All 15-10-2020 16-10-2020
Drug_Name                ...
diltiazem hydrochloride  ...        20.0  42.0  16.000000  22.545455
docetaxel injection      ...        23.0  58.0  24.875000  27.000000
ketamine hydrochloride   ...        24.0  27.0   9.333333  14.800000
All                      ...        24.0  58.0  16.392857  21.656250

                                                                      \
                                              Temperature
Date                    17-10-2020        All  15-10-2020 16-10-2020
Drug_Name
diltiazem hydrochloride   7.727273  15.424242   21.454545  37.454545
docetaxel injection      24.500000  25.483871   20.750000  51.454545
ketamine hydrochloride   11.500000  11.935484   23.555556  11.500000
All                      14.771429  17.568421   21.928571  34.156250



Date                    17-10-2020        All
Drug_Name
diltiazem hydrochloride  15.636364  24.848485
docetaxel injection      17.500000  30.387097
ketamine hydrochloride   18.500000  17.709677
All                      17.257143  24.326316

[4 rows x 24 columns]

In [51]:
df_tidy

           Date                Drug_Name      Time  Pressure  Temperature
0    15-10-2020  diltiazem hydrochloride  10:30:00      18.0         20.0
1    15-10-2020  diltiazem hydrochloride  11:30:00      19.0         20.0
2    15-10-2020  diltiazem hydrochloride  12:30:00      20.0         21.0
3    15-10-2020  diltiazem hydrochloride   1:30:00      12.0         23.0
4    15-10-2020  diltiazem hydrochloride   2:30:00      13.0         22.0
..          ...                      ...       ...       ...          ...
103  17-10-2020   ketamine hydrochloride   5:30:00      11.0         17.0
104  17-10-2020   ketamine hydrochloride   6:30:00      12.0         18.0
105  17-10-2020   ketamine hydrochloride   7:30:00      12.0         19.0
106  17-10-2020   ketamine hydrochloride   8:30:00      11.0         20.0
107  17-10-2020   ketamine hydrochloride   9:30:00      12.0         21.0

[108 rows x 5 columns]

In [52]:
np.nan # Returned nan

nan

In [54]:
None # Returned nothing

In [55]:
type(np.nan)

float

In [56]:
type(None)

NoneType

In [57]:
pd.Series([1,np.nan, 2])
# dtype of the series is Float64

0    1.0
1    NaN
2    2.0
dtype: float64

In [58]:
pd.Series([1,np.nan, 2, None])
# dtype of the series is Float64

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [59]:
pd.Series(['1',np.nan, '2', None])
# dtype of the series is Object

0       1
1     NaN
2       2
3    None
dtype: object

In [60]:
a = pd.Series(['1',np.nan, '2', None])

In [62]:
type(a[1])
# Since it is a series , dtype of a is object. But np.nan is float internally, 
#but when it is convereted to object when it is used in a series

float

In [63]:
type(a[0])

str

In [64]:
df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [65]:
df.isna() #It will check each value whether it is a NaN or not.

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
5,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
11,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
12,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [67]:
df.isna().sum() #It will sum up all the null values in coulmn wise operation

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [68]:
df2=pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=["A","B","C","D"])
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [69]:
df2.mean()

A    3.000000
B    3.000000
C         NaN
D    1.666667
dtype: float64

In [72]:
df2['A'].mean() #A[1]/ 1. Beacuse rest all are True

3.0

In [73]:
df2.isna()

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True   True
3   True  False  True  False

In [74]:
df2.isnull() #.isna() and .isnull() are both are same

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True   True
3   True  False  True  False

In [ ]:
df3=pd.DataFrame([["np.nan", 2, np.nan, 0],
                   ["3", 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   ["np.nan", 3, np.nan, 4]],
                  columns=["A","B","C","D"])
df3

In [77]:
df2.isna().sum(axis=1)

0    2
1    1
2    4
3    2
dtype: int64

Handling the missing Values
1. Drop
2. Imputation/ Replace
    a) Fixed Value
    b) Estimate --> Mean
                -->Median
                -->Mode
                -->Max
                -->Min

In [78]:
df2.isna()

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True   True
3   True  False  True  False

In [79]:
df2.fillna(0)

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

In [81]:
df2 = df2.fillna(0)

In [82]:
df2

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

In [83]:
df2.mean()

A    0.75
B    2.25
C    0.00
D    1.25
dtype: float64

In [84]:
df2.mean(axis=1)

0    0.50
1    2.00
2    0.00
3    1.75
dtype: float64

In [85]:
df2['A'].mean()

0.75

In [86]:
df2=pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=["A","B","C","D"])
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [87]:
# how to fill the NaN values with the mean value
df2.fillna(df2['A'].mean()) # It is filling the values of A row in all mssing values of df2

     A    B    C    D
0  3.0  2.0  3.0  0.0
1  3.0  4.0  3.0  1.0
2  3.0  3.0  3.0  3.0
3  3.0  3.0  3.0  4.0

In [88]:
df2.fillna(df2.mean()) #Here it is filling missing values with the mean of each column
#But still NaN are present

     A    B   C         D
0  3.0  2.0 NaN  0.000000
1  3.0  4.0 NaN  1.000000
2  3.0  3.0 NaN  1.666667
3  3.0  3.0 NaN  4.000000

In [89]:
df2.fillna(df2.mean()).fillna(0) #Here the missing values are filled with zero after filling 
#with mean values as C column is all NaN

     A    B    C         D
0  3.0  2.0  0.0  0.000000
1  3.0  4.0  0.0  1.000000
2  3.0  3.0  0.0  1.666667
3  3.0  3.0  0.0  4.000000

In [90]:
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [92]:
#If I want to fill only in A column
df2['A'].fillna(df2['A'].mean())

0    3.0
1    3.0
2    3.0
3    3.0
Name: A, dtype: float64

In [93]:
#Forward Fill
df2.fillna(method ='ffill')
#Values of NaN are being replaced with its closest preceding value. Top to Bottom Approach

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  4.0 NaN  1.0
3  3.0  3.0 NaN  4.0

In [94]:
#Backward Fill
df2.fillna(method ='bfill')
#Values of NaN are being replaced with its closest next value. Bottom to Top Approach

     A    B   C    D
0  3.0  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  3.0 NaN  4.0
3  NaN  3.0 NaN  4.0

In [96]:
df.isna().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [97]:
df.dropna() # Dropping is eliminating most of the data

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [98]:
df.dropna(axis=1) #On applying axis=1 dropna is giving out of 12, giving only 3 columns

,Date,Drug_Name,Parameter,6:30:00,10:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,22,20,21
1,15-10-2020,diltiazem hydrochloride,Pressure,14,18,20
2,15-10-2020,docetaxel injection,Temperature,18,23,25
3,15-10-2020,docetaxel injection,Pressure,23,26,28
4,15-10-2020,ketamine hydrochloride,Temperature,26,22,20
5,15-10-2020,ketamine hydrochloride,Pressure,9,9,11
6,16-10-2020,diltiazem hydrochloride,Temperature,38,40,42
7,16-10-2020,diltiazem hydrochloride,Pressure,23,24,27
8,16-10-2020,docetaxel injection,Temperature,49,56,58
9,16-10-2020,docetaxel injection,Pressure,27,28,30
10,16-10-2020,ketamine hydrochloride,Temperature,12,13,15
11,16-10-2020,ketamine hydrochloride,Pressure,15,16,18
12,17-10-2020,diltiazem hydrochloride,Temperature,16,14,10
13,17-10-2020,diltiazem hydrochloride,Pressure,8,11,14
14,17-10-2020,docetaxel injection,Temperature,17,21,23
15,17-10-2020,docetaxel injection,Pressure,23,28,28
16,17-10-2020,ketamine hydrochloride,Temperature,18,22,24
17,17-10-2020,ketamine hydrochloride,Pressure,12,13,15

In [99]:
df.fillna(0)

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,0.0,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,0.0,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,0.0,17.0,18.0,0.0,17.0,18,0.0,0.0,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,0.0,22.0,22.0,0.0,22.0,23,0.0,0.0,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,0.0,0.0,27.0,0.0,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,0.0,0.0,7.0,0.0,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,0.0,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,0.0,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,0.0,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,0.0,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,0.0,11.0,12,12.0,11.0,0.0,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,0.0,15.0,15,15.0,15.0,0.0,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,0.0,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,0.0,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [101]:
df_tidy.head(20)

          Date                Drug_Name      Time  Pressure  Temperature
0   15-10-2020  diltiazem hydrochloride  10:30:00      18.0         20.0
1   15-10-2020  diltiazem hydrochloride  11:30:00      19.0         20.0
2   15-10-2020  diltiazem hydrochloride  12:30:00      20.0         21.0
3   15-10-2020  diltiazem hydrochloride   1:30:00      12.0         23.0
4   15-10-2020  diltiazem hydrochloride   2:30:00      13.0         22.0
5   15-10-2020  diltiazem hydrochloride   3:30:00       NaN          NaN
6   15-10-2020  diltiazem hydrochloride   4:30:00      11.0         21.0
7   15-10-2020  diltiazem hydrochloride   5:30:00      13.0         21.0
8   15-10-2020  diltiazem hydrochloride   6:30:00      14.0         22.0
9   15-10-2020  diltiazem hydrochloride   7:30:00      16.0         23.0
10  15-10-2020  diltiazem hydrochloride   8:30:00      16.0         21.0
11  15-10-2020  diltiazem hydrochloride   9:30:00      24.0         22.0
12  15-10-2020      docetaxel injection  10:30:00      26.0         23.0
13  15-10-2020      docetaxel injection  11:30:00      29.0         25.0
14  15-10-2020      docetaxel injection  12:30:00      28.0         25.0
15  15-10-2020      docetaxel injection   1:30:00       NaN          NaN
16  15-10-2020      docetaxel injection   2:30:00      22.0         17.0
17  15-10-2020      docetaxel injection   3:30:00      22.0         18.0
18  15-10-2020      docetaxel injection   4:30:00       NaN          NaN
19  15-10-2020      docetaxel injection   5:30:00      22.0         17.0

In [110]:
def temp_mean(x):
    x["Temp_avg"]=np.round(x["Temperature"].mean(),2)
    return x

In [111]:
df_tidy=df_tidy.groupby("Drug_Name").apply(temp_mean)
df_tidy.head(20)

C:\Users\ravit\AppData\Local\Temp\ipykernel_5192\525412084.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df_tidy=df_tidy.groupby("Drug_Name").apply(temp_mean)

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.85
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.85
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.85
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.85
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.85
5,15-10-2020,diltiazem hydrochloride,3:30:00,NaN,NaN,24.85
6,15-10-2020,diltiazem hydrochloride,4:30:00,11.0,21.0,24.85
7,15-10-2020,diltiazem hydrochloride,5:30:00,13.0,21.0,24.85
8,15-10-2020,diltiazem hydrochloride,6:30:00,14.0,22.0,24.85
9,15-10-2020,diltiazem hydrochloride,7:30:00,16.0,23.0,24.85
10,15-10-2020,diltiazem hydrochloride,8:30:00,16.0,21.0,24.85
11,15-10-2020,diltiazem hydrochloride,9:30:00,24.0,22.0,24.85
12,15-10-2020,docetaxel injection,10:30:00,26.0,23.0,30.39
13,15-10-2020,docetaxel injection,11:30:00,29.0,25.0,30.39
14,15-10-2020,docetaxel injection,12:30:00,28.0,25.0,30.39
15,15-10-2020,docetaxel injection,1:30:00,NaN,NaN,30.39
16,15-10-2020,docetaxel injection,2:30:00,22.0,17.0,30.39
17,15-10-2020,docetaxel injection,3:30:00,22.0,18.0,30.39
18,15-10-2020,docetaxel injection,4:30:00,NaN,NaN,30.39
19,15-10-2020,docetaxel injection,5:30:00,22.0,17.0,30.39

In [112]:
df_tidy['Temperature'].fillna(df_tidy['Temp_avg'], inplace=True)

In [114]:
df_tidy.head(20)

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.00,24.85
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.00,24.85
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.00,24.85
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.00,24.85
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.00,24.85
5,15-10-2020,diltiazem hydrochloride,3:30:00,NaN,24.85,24.85
6,15-10-2020,diltiazem hydrochloride,4:30:00,11.0,21.00,24.85
7,15-10-2020,diltiazem hydrochloride,5:30:00,13.0,21.00,24.85
8,15-10-2020,diltiazem hydrochloride,6:30:00,14.0,22.00,24.85
9,15-10-2020,diltiazem hydrochloride,7:30:00,16.0,23.00,24.85
10,15-10-2020,diltiazem hydrochloride,8:30:00,16.0,21.00,24.85
11,15-10-2020,diltiazem hydrochloride,9:30:00,24.0,22.00,24.85
12,15-10-2020,docetaxel injection,10:30:00,26.0,23.00,30.39
13,15-10-2020,docetaxel injection,11:30:00,29.0,25.00,30.39
14,15-10-2020,docetaxel injection,12:30:00,28.0,25.00,30.39
15,15-10-2020,docetaxel injection,1:30:00,NaN,30.39,30.39
16,15-10-2020,docetaxel injection,2:30:00,22.0,17.00,30.39
17,15-10-2020,docetaxel injection,3:30:00,22.0,18.00,30.39
18,15-10-2020,docetaxel injection,4:30:00,NaN,30.39,30.39
19,15-10-2020,docetaxel injection,5:30:00,22.0,17.00,30.39

In [117]:
def pressure_mean(x):
    x['Avg_pressure'] = np.round(x['Pressure'].mean(),2)
    return x

In [121]:
df_tidy=df_tidy.groupby("Drug_Name").apply(pressure_mean)
df_tidy.head(20)

C:\Users\ravit\AppData\Local\Temp\ipykernel_5192\4190230941.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df_tidy=df_tidy.groupby("Drug_Name").apply(pressure_mean)

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg,Avg_pressure
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.00,24.85,15.42
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.00,24.85,15.42
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.00,24.85,15.42
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.00,24.85,15.42
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.00,24.85,15.42
5,15-10-2020,diltiazem hydrochloride,3:30:00,NaN,24.85,24.85,15.42
6,15-10-2020,diltiazem hydrochloride,4:30:00,11.0,21.00,24.85,15.42
7,15-10-2020,diltiazem hydrochloride,5:30:00,13.0,21.00,24.85,15.42
8,15-10-2020,diltiazem hydrochloride,6:30:00,14.0,22.00,24.85,15.42
9,15-10-2020,diltiazem hydrochloride,7:30:00,16.0,23.00,24.85,15.42
10,15-10-2020,diltiazem hydrochloride,8:30:00,16.0,21.00,24.85,15.42
11,15-10-2020,diltiazem hydrochloride,9:30:00,24.0,22.00,24.85,15.42
12,15-10-2020,docetaxel injection,10:30:00,26.0,23.00,30.39,25.48
13,15-10-2020,docetaxel injection,11:30:00,29.0,25.00,30.39,25.48
14,15-10-2020,docetaxel injection,12:30:00,28.0,25.00,30.39,25.48
15,15-10-2020,docetaxel injection,1:30:00,NaN,30.39,30.39,25.48
16,15-10-2020,docetaxel injection,2:30:00,22.0,17.00,30.39,25.48
17,15-10-2020,docetaxel injection,3:30:00,22.0,18.00,30.39,25.48
18,15-10-2020,docetaxel injection,4:30:00,NaN,30.39,30.39,25.48
19,15-10-2020,docetaxel injection,5:30:00,22.0,17.00,30.39,25.48

In [122]:
df_tidy['Pressure'].fillna(df_tidy['Avg_pressure'], inplace = True)

In [124]:
df_tidy.head(20)

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg,Avg_pressure
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.00,20.00,24.85,15.42
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.00,20.00,24.85,15.42
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.00,21.00,24.85,15.42
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.00,23.00,24.85,15.42
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.00,22.00,24.85,15.42
5,15-10-2020,diltiazem hydrochloride,3:30:00,15.42,24.85,24.85,15.42
6,15-10-2020,diltiazem hydrochloride,4:30:00,11.00,21.00,24.85,15.42
7,15-10-2020,diltiazem hydrochloride,5:30:00,13.00,21.00,24.85,15.42
8,15-10-2020,diltiazem hydrochloride,6:30:00,14.00,22.00,24.85,15.42
9,15-10-2020,diltiazem hydrochloride,7:30:00,16.00,23.00,24.85,15.42
10,15-10-2020,diltiazem hydrochloride,8:30:00,16.00,21.00,24.85,15.42
11,15-10-2020,diltiazem hydrochloride,9:30:00,24.00,22.00,24.85,15.42
12,15-10-2020,docetaxel injection,10:30:00,26.00,23.00,30.39,25.48
13,15-10-2020,docetaxel injection,11:30:00,29.00,25.00,30.39,25.48
14,15-10-2020,docetaxel injection,12:30:00,28.00,25.00,30.39,25.48
15,15-10-2020,docetaxel injection,1:30:00,25.48,30.39,30.39,25.48
16,15-10-2020,docetaxel injection,2:30:00,22.00,17.00,30.39,25.48
17,15-10-2020,docetaxel injection,3:30:00,22.00,18.00,30.39,25.48
18,15-10-2020,docetaxel injection,4:30:00,25.48,30.39,30.39,25.48
19,15-10-2020,docetaxel injection,5:30:00,22.00,17.00,30.39,25.48

In [125]:
temp_points=[1,20,24,27,100]
temp_labels=["low","medium","high","very_high"]

In [128]:
df_tidy['Temp Category'] = pd.cut(df_tidy['Temperature'],bins = temp_points,labels = temp_labels)

In [129]:
df_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg,Avg_pressure,Temp Category
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.85,15.42,low
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.85,15.42,low
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.85,15.42,medium
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.85,15.42,medium
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.85,15.42,medium
...,...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.71,11.94,low
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.71,11.94,low
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.71,11.94,low
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.71,11.94,low
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.71,11.94,medium

In [130]:
df_tidy['Temp Category'].value_counts()

low          50
very_high    27
medium       23
high          8
Name: Temp Category, dtype: int64

In [131]:
df_tidy.loc[df_tidy["Drug_Name"].str.contains("hydrochloride")]

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg,Avg_pressure,Temp Category
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.85,15.42,low
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.85,15.42,low
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.85,15.42,medium
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.85,15.42,medium
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.85,15.42,medium
...,...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.71,11.94,low
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.71,11.94,low
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.71,11.94,low
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.71,11.94,low
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.71,11.94,medium

In [132]:
df_tidy['Date'].str.split("-")

0      [15, 10, 2020]
1      [15, 10, 2020]
2      [15, 10, 2020]
3      [15, 10, 2020]
4      [15, 10, 2020]
            ...
103    [17, 10, 2020]
104    [17, 10, 2020]
105    [17, 10, 2020]
106    [17, 10, 2020]
107    [17, 10, 2020]
Name: Date, Length: 108, dtype: object

In [133]:
df_tidy['Date'].str.split("-").str[-1]

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: Date, Length: 108, dtype: object

In [134]:
df_tidy["Date"].apply(lambda x:x.split("-")[2])

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: Date, Length: 108, dtype: object

In [136]:
df_tidy['Time Stamp'] = df_tidy['Date'] + df_tidy['Time']

In [137]:
df_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg,Avg_pressure,Temp Category,Time Stamp
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.85,15.42,low,15-10-202010:30:00
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.85,15.42,low,15-10-202011:30:00
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.85,15.42,medium,15-10-202012:30:00
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.85,15.42,medium,15-10-20201:30:00
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.85,15.42,medium,15-10-20202:30:00
...,...,...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.71,11.94,low,17-10-20205:30:00
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.71,11.94,low,17-10-20206:30:00
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.71,11.94,low,17-10-20207:30:00
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.71,11.94,low,17-10-20208:30:00
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.71,11.94,medium,17-10-20209:30:00

In [143]:
df_tidy["timestamp"]=df_tidy["Date"]+" "+df_tidy["Time"]

In [144]:
df_tidy["timestamp"]=pd.to_datetime(df_tidy["timestamp"])

In [149]:
df_tidy.drop(columns= ['Time Stamp'], axis = 0)

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg,Avg_pressure,Temp Category,timestamp
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.85,15.42,low,2020-10-15 10:30:00
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.85,15.42,low,2020-10-15 11:30:00
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.85,15.42,medium,2020-10-15 12:30:00
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.85,15.42,medium,2020-10-15 01:30:00
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.85,15.42,medium,2020-10-15 02:30:00
...,...,...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.71,11.94,low,2020-10-17 05:30:00
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.71,11.94,low,2020-10-17 06:30:00
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.71,11.94,low,2020-10-17 07:30:00
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.71,11.94,low,2020-10-17 08:30:00
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.71,11.94,medium,2020-10-17 09:30:00

In [150]:
ts = df_tidy['timestamp'][0]

In [151]:
ts

Timestamp('2020-10-15 10:30:00')

In [152]:
ts.month

10

In [153]:
ts.year

2020

In [154]:
ts.minute

30

In [156]:
ts.month_name()

'October'

In [157]:
ts.day

15

In [158]:
ts.day_name()

'Thursday'

In [159]:
ts.microsecond

0

In [160]:
df_tidy["timestamp"].dt 
#It is a datetime property Object

In [161]:
df_tidy["timestamp"].dt.year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: timestamp, Length: 108, dtype: int64

In [162]:
df_tidy["timestamp"].dt.month

0      10
1      10
2      10
3      10
4      10
       ..
103    10
104    10
105    10
106    10
107    10
Name: timestamp, Length: 108, dtype: int64

In [163]:
df_tidy["timestamp"].dt.hour

0      10
1      11
2      12
3       1
4       2
       ..
103     5
104     6
105     7
106     8
107     9
Name: timestamp, Length: 108, dtype: int64

In [164]:
df_tidy["timestamp"][0].strftime("%Y-%m-%d")
# String Format Time

'2020-10-15'

In [165]:
df_tidy["timestamp"][0].strftime("%m-%y-%d")

'10-20-15'

In [166]:
df_tidy["timestamp"][0].strftime("%m-%Y-%d")
#Y will give 2020 y will give 20

'10-2020-15'

In [169]:
df_tidy["timestamp"][0].strftime("%m ,%y ,%d")
#m means month M means Minutes

'10 ,20 ,15'

In [170]:
df_tidy["timestamp"][0].strftime("%H-%M-%S")

'10-30-00'

In [171]:
df_tidy["timestamp"][0].strftime("%H hours %M minutes %S seconds")

'10 hours 30 minutes 00 seconds'

In [172]:
df_tidy["timestamp"][0].strftime("%b %d,%Y")
#b will give short of the month B will give the name of the month entirely

'Oct 15,2020'

In [173]:
df_tidy["timestamp"][0].strftime("%B %d,%Y")

'October 15,2020'

In [174]:
df_tidy.to_csv("drug_clean_data_dirty.csv",sep=",")